.author
    padding 4rem 0 4rem
    border-bottom 1px solid epsilon
    max-width 100%
    margin 40px auto 0

    .author__picture
        max-width 85%
        border-radius 100%

    .author__name
        font-size 1.7rem
        font-family fontSans
        font-weight 500
        margin 0

    .author__bio
        font-family fontSans
        font-weight 300
        color alpha
        font-size 1.5rem
        text-align justify
        line-height 1.5
        margin 1rem 0 0

    .author__marker,
    .author__email
        font-weight normal
        color epsilon
        font-size 13px
        display inline-block
        font-family fontSans
        margin 0

        a
            display block
            margin-top 10px
            font-size 1.2rem
            font-weight 300

    .author__email
        margin-left 2rem

    .author__left
        width 20%
        display inline-block

    .author__right
        width 79%
        display inline-block
        vertical-align top
