.author
    padding 3rem 0
    border-bottom 1px solid epsilon
    border-top 1px solid epsilon
    max-width 100%
    margin 9rem auto 0

    +mobile()
        text-align center

    +tablet()
        text-align center

    .author__picture
        width 90%
        border-radius 100%

        +mobile()
            width 33%

        +tablet()
            width 33%

    .author__name
        font-size 1.5rem
        font-family fontSans
        font-weight 500
        margin 6px 0 0

    .author__bio
        font-family fontSans
        font-weight 300
        color gama
        font-size 1.3rem
        text-align justify
        line-height 1.5
        margin 0

        +mobile()
            margin 1rem 0
            text-align center

        +tablet()
            margin 1rem 0
            text-align center

    .author__marker,
    .author__email
        font-weight normal
        color epsilon
        font-size 13px
        display inline-block
        font-family fontSans
        margin 0

        a
            display block
            margin-top 10px
            font-size 1.2rem
            font-weight 300

    .author__email
        margin-left 2rem

    .author__left
        width 10%
        display inline-block

        +mobile()
            width 88%
            margin 0 auto 2rem
            display block

        +tablet()
            width 90%
            margin 0 auto 2rem
            display block

    .author__right
        width 79%
        display inline-block
        vertical-align top

        +mobile()
            display block
            width 88%
            margin 0 auto

        +mobile()
            display block
            width 90%
            margin 0 auto
