footer
    border-top 1px solid epsilon
    padding 40px 0
    margin 40px 0 0
    font-size 1.3rem
    color gama
    font-weight 300
    text-align center

    a
        display inline

        svg
            width 15px !important
            fill gama !important
            transition ease-in-out all .3s
            position relative
            top 3px

            &:hover
                fill delta !important
