$font: "Georgia", serif

$alpha: #887880
$beta: #88A096
$gama: #fca974

$above: "only screen and (min-width: 600px)"
$below: "only screen and (max-width: 600px)"
$small: "only screen and (max-width: 400px)"
