// ~ colors
fontSans      = "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
fontMonospace = Consolas, "Liberation Mono", Menlo, Courier, monospace

// ~ colors
alpha   = #666
beta    = #222
gama    = #aaa
delta   = #eb298c
epsilon = #ededed

// ~ media queries
xsmall = 360px
small  = 568px
medium = 768px
large  = 1024px

unit = 1rem
